[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "bundle/bundle/vim-easytags"]
	path = bundle/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags
